/* HERO BACKGROUND */
.hero-section {
    background: url("https://i.ibb.co/rMM8CwZ/ocean-bg.jpg") no-repeat center/cover;
    min-height: 100vh;
    padding: 60px;
    position: relative;
    color: white;
}


/* MAIN TITLE */
.hero-title {
    font-size: 85px;
    font-weight: 900;
    line-height: 1.1;
}

/* SEARCH BOX */
.search-box {
    display: flex;
    margin-top: 20px;
    background: #fff;
    width: 55%;
    border-radius: 8px;
    padding: 12px;
}

.search-box input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.search-box button {
    border: none;
    font-size: 20px;
    background: none;
    cursor: pointer;
}

.search-note {
    margin-top: 10px;
}



/* YELLOW FIND A GIFT TAB */
.gift-tab {
    position: absolute;
    right: 0;
    top: 120px;
    background: #ffd500;
    padding: 18px 10px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: black;
    border-radius: 5px 0 0 5px;
}

.gift-tab:hover {
    background: #ffcc00;
}



/* BLUE BOOK BAR */
.blue-book-bar {
    position: absolute;
    right: 0;
    bottom: 50px;
    background: #003fad;
    padding: 18px;
    width: 360px;
    color: white;
    border-radius: 6px 0 0 6px;
}

.blue-book-bar .book-title {
    font-size: 18px;
    font-weight: 700;
}

.open-panel-btn {
    float: right;
    background: none;
    color: rgb(50, 205, 19);
    border: 1px solid white;
    padding: 5px 18px;
    border-radius: 20px;
    cursor: pointer;
}



/* SLIDE PANEL */
.slide-panel {
    position: fixed;
    right: -100%;
    top: 0;
    width: 0%;
    height: 100%;
    background: #003fad;
    color: white;
    padding: 40px;
    transition: 0.6s ease;
    z-index: 999;
}

.slide-panel.active {
    right: 0;
}

.panel-header {
    text-align: right;
}

.close-panel-btn {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.panel-body {
    display: flex;
    gap: 40px;
}

.panel-book-img {
    width: 40%;
    border-radius: 10px;
}

.panel-text h2 {
    font-size: 40px;
}

.price {
    font-size: 20px;
    margin: 15px 0;
}

.details-btn {
    background: white;
    color: black;
    border: none;
    padding: 10px 22px;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;
}
