/* Section background */
.wheels-section {
    background: #e5e1dd;
 
    width: 95%;
    margin: auto;
       margin-top: 50px;
    margin-bottom: 50px;
    
}

/* Card container */
.wheel-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

/* Image */
.wheel-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

/* Hover zoom effect */
.wheel-card:hover .wheel-img {
    transform: scale(1.05);
    filter: brightness(85%);
}

/* TEXT OVER IMAGE */
.wheel-text {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: #ffffff;     /* White text */
    z-index: 2;
}

/* Small subtitle */
.subtitle {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

/* Big title text */
.main-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 5px;
    color: #ffffff;
}

/* Read More button */
.read-btn {
    margin-top: 12px;
    padding: 8px 20px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.read-btn:hover {
    background: #ffffff;
    color: black;
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 768px) {
    .wheel-img {
        height: 260px;
    }

    .main-title {
        font-size: 26px;
    }

    .subtitle {
        font-size: 12px;
    }

    .wheel-text {
        bottom: 15px;
        left: 15px;
    }
}
